
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php 




RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l 
RewriteRule ^product/([0-9a-zA-Z_-]+)$ single-product?productid=$1 [NC,L]
RewriteRule ^collection/([0-9a-zA-Z_-]+)$ products?wxyz=$1 [NC,L]


